<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mercado Tecno</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link href="css/estilo.css" type="text/css" rel="stylesheet">

 <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="527259f2-2ea3-47f8-8700-d9b6d71693ec";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>

<body class="body" >

  <header >

    <div class="row" style="background-color:#E67E22;">
  
     
     <div class="col-lg-4"> 
      <ul class="list-unstyled text-small">
        <li><p class="fw-light text-white-50 bi bi-geo-alt ms-3 pt-2"> Carrera 38 Nº 9 - 25, Bogota</p></li>
      </ul>
    </div>
    <div class="col-lg-4"> 
      <ul class="list-unstyled text-small">
        <li><p class=" text-center fw-light text-white-50 bi bi-telephone pt-2"> 311 1234567</p></li>
      </ul>
    </div>
    <div class="col-lg-4 ">
      <i class="text-white-50 bi bi-facebook p-2 float-end pe-4" style="font-size: 1em;"></i>
      <i class="text-white-50 bi bi-instagram p-2 float-end pe-4" style="font-size: 1em;"></i>
      <i class="text-white-50 bi bi-youtube p-2 float-end pe-4" style="font-size: 1em;"></i>
      <i class="text-white-50 bi bi-tiktok p-2 float-end pe-4" style="font-size: 1em;"></i>
    </div>

    </div>

  </div>

    <nav class="navbar navbar-expand-lg nav-link"  style="background-color:#fdfefe;">
      <div class="col-lg-4 p-2">
        <img src="img/logo.png" width="100" alt=""> 
      </div>

      <div class="collapse navbar-collapse col-lg-6" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fw-lighter active text-dark-50 p-4" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-lighter text-dark-50 p-4" href="#">Merkadotecno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-lighter text-dark-50 p-4" href="galeriaproductos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-lighter text-dark-50 p-4"  href="contactenos.html">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 "> 
        <i class="bi bi-cart4 fw-lighter text-dark-50 float-end pe-4" style="font-size: 2em ;color:#E67E22 ;"></i>
      </div>
    </nav> 

  </header>
  <main class="container">

   <div class="row contacto"  >

    <h2 class="text-center mt-5" style="color: #E67E22 ;">CONTÁCTENOS</h2>
    <div class="col-lg-6">
      <iframe class="mb-5 mt-5 px-4 rounded-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9496032087495!2d-74.11771027501301!3d4.603047933101572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99374c2740e7%3A0xd38cde7029f6386c!2sCra.%2038%20%239-25%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1656108952434!5m2!1ses!2sco" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>

    <div class="col-lg-6">
      <form action="enviarmail.php" method="post" class="py-4">

        <input type="text" name="Asunto" class="form-control" placeholder="Asunto" required ="required">
        <br>
        <input type="text" name="Nombre" class="form-control" placeholder="Nombre" required ="required">
        <br>
        <input type="email" name="email" class="form-control" placeholder="Email" required ="required">
        <br>
        <textarea name="mensaje" rows="10" cols="18" class="form-control" placeholder="Mensaje" placeholder="required "></textarea>
        <br>
        <input type="submit" name="boton" value="Enviar mensaje" class="btn btn-dark ">
       




        

      </form>

    </div>
   </div>
    

</main>

<footer class="container-fluid">
  <div class="row py-4">
    <div class="col-md-5">
      <h5 class="fw-bold text-white">Direccion :</h5>
      <iframe class="rounded-5 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9496031490867!2d-74.11541428507256!3d4.6030479437778204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99374c2740e7%3A0xd38cde7029f6386c!2sCra.%2038%20%239-25%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1655597605164!5m2!1ses-419!2sco" width="350" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <ul class="list-unstyled text-small">
        <li><p class="fw-light text-white-50 bi bi-geo-alt"> Carrera 38 Nº 9 - 25, Bogota</p></li>
      </ul>
    </div>
    <div class="col-md-5">
      <h5 class="fw-bold text-white">Contactenos :</h5>
      <ul class="list-unstyled text-small">
        <li><p class="fw-light text-white-50 bi bi-envelope"> mercado_tecno@gmail.com</p></li>
        <li><p class="fw-light text-white-50 bi bi-telephone"> 311 1234567</p></li>
        <li><a class="fw-light text-white-50 bi bi-whatsapp" href="#"> Whatsapp</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5 class="fw-bold text-white">Síganos en :</h5>
      <i class="text-white-50 bi bi-facebook p-2" style="font-size: 2em;"></i>
      <i class="text-white-50 bi bi-instagram p-2" style="font-size: 2em;"></i>
      <i class="text-white-50 bi bi-youtube p-2" style="font-size: 2em;"></i>
      <i class="text-white-50 bi bi-tiktok p-2" style="font-size: 2em;"></i>
    </div>
  </div>
  <div class="row">
    <div class="bg-light p-2">
      <div class="text-center fw-lighter" style="color:#E67E22;">
        Todos los derechos reservados. Copyright ©️ MerkadoTecno 2022
      </div>
    </div>
  </div>
</footer> 



</div>
</body>
</html>