<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mercado Tecno</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="css/estilo.css" type="text/css" rel="stylesheet">

  <script
    type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "527259f2-2ea3-47f8-8700-d9b6d71693ec"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>

</head>

<body class="body-marketplace">
  <header>
    <div class="row" style="background-color:#E67E22;">
      <div class="col-lg-4">
        <ul class="list-unstyled text-small">
          <li>
            <p class="fw-light text-white-50 bi bi-geo-alt ms-3 pt-2"> Carrera 38 Nº 9 - 25, Bogota</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-unstyled text-small">
          <li>
            <p class=" text-center fw-light text-white-50 bi bi-telephone pt-2"> 311 1234567</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 ">
        <i class="text-white-50 bi bi-facebook p-2 float-end pe-4" style="font-size: 1em;"></i>
        <i class="text-white-50 bi bi-instagram p-2 float-end pe-4" style="font-size: 1em;"></i>
        <i class="text-white-50 bi bi-youtube p-2 float-end pe-4" style="font-size: 1em;"></i>
        <i class="text-white-50 bi bi-tiktok p-2 float-end pe-4" style="font-size: 1em;"></i>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg nav-link" style="background-color:#fdfefe;">
      <div class="col-lg-4 p-2">
        <img src="img/logo.png" width="100" alt="">
      </div>
      <div class="collapse navbar-collapse col-lg-6" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fw-lighter active text-dark-50 p-4" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-lighter text-dark-50 p-4" href="#">Merkadotecno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-lighter text-dark-50 p-4" href="galeriaproductos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-lighter text-dark-50 p-4" href="contactenos.html">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 ">
        <i class="bi bi-cart4 fw-lighter text-dark-50 float-end pe-4" style="font-size: 2em ;color:#E67E22 ;"></i>
      </div>
    </nav>
  </header>
  <span class="linea"></span>
  <main class="container-fluid">
    <div class=row id="imagen">
      <h2 class="text-center fw-lighter py-3" style="color:dark-50; background-color: white;">Productos</h2>
      <div class="card-group">
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/1.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/1.jpg"
            data-bs-title="Audifonos de balaca" data-bs-value="$87.000.oo">
          <div class="card-body">
            <h5 class="card-title">Audifonos de balaca</h5>
            <p class="card-text">$87.000.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/2.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/2.jpg"
            data-bs-title="Soporte celular plegable para escritorio" data-bs-value="$62.000.oo">
          <div class="card-body">
            <h5 class="card-title">Soporte celular plegable para escritorio</h5>
            <p class="card-text">$62.000.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/3.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/3.jpg"
            data-bs-title="Portátil Gateway Intel Core I3 1035g1 128gb Ssd 4gb Windows" data-bs-value="$1.599.900.oo">
          <div class="card-body">
            <h5 class="card-title">Portátil Gateway Intel Core I3 1035g1 128gb Ssd 4gb Windows</h5>
            <p class="card-text">$1.599.900.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/4.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/4.jpg"
            data-bs-title="Trípode Extensible Para Proyectores Y Cámaras - VTA" data-bs-value="$29.900.oo">
          <div class="card-body">
            <h5 class="card-title">Trípode Extensible Para Proyectores Y Cámaras - VTA</h5>
            <p class="card-text">$29.900.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/5.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/5.jpg"
            data-bs-title="Combo teclado mouse logitech" data-bs-value="$89.900.oo">
          <div class="card-body">
            <h5 class="card-title">Combo teclado mouse logitech</h5>
            <p class="card-text">$89.900.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class=row id="imagen">
      <div id="card-group" class="card-group">
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/6.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/6.jpg"
            data-bs-title="Canon 4000D con lente 18-55mm" data-bs-value="$1.999.990.oo">
          <div class="card-body">
            <h5 class="card-title">Canon 4000D con lente 18-55mm</h5>
            <p class="card-text">$1.999.990.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/7.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/7.jpg"
            data-bs-title="IPhone 13 Pro Max 256gb" data-bs-value="$5.799.900.oo">
          <div class="card-body">
            <h5 class="card-title">IPhone 13 Pro Max 256gb</h5>
            <p class="card-text">$5.799.900.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/8.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/8.jpg"
            data-bs-title="Motorola Motop G20" data-bs-value="$579.900.oo">
          <div class="card-body">
            <h5 class="card-title">Motorola Motop G20</h5>
            <p class="card-text">$579.900.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/9.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/9.jpg"
            data-bs-title="Portatil Dell Inspiron 15 3505 Ryzen 5 Win10 Negro" data-bs-value="$2.270.900.oo">
          <div class="card-body">
            <h5 class="card-title">Portatil Dell Inspiron 15 3505 Ryzen 5 Win10 Negro</h5>
            <p class="card-text">$2.270.900.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
        <div class="card text-dark bg-light mb-3">
          <img src="img/galeria/10.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="img/galeria/10.jpg"
            data-bs-title="Canon 5D Mark IV 4K Sólo Cuerpo + Memoria 64Gb de 170Mb/s" data-bs-value="$$9.699.990.oo">
          <div class="card-body">
            <h5 class="card-title">Canon 5D Mark IV 4K Sólo Cuerpo + Memoria 64Gb de 170Mb/s</h5>
            <p class="card-text">$9.699.990.oo</p>
          </div>
          <div class="card-footer bg-transparent border-light text-end">
            <a href="#" class="text-decoration-none fw-light" style="color:#96989D">Agregar a carrito<i
                class="bi bi-cart4 fw-lighter text-dark-50  " style="color:#96989D ;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <nav aria-label="Page navigation example text-danger">
        <ul class="pagination justify-content-center ">
          <li class="page-item">
            <a class="page-link text-secondary" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-secondary" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="img/galeria/8.jpg" class="card-img-top" width="250px" alt="..." href="#" style="cursor: pointer;">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Value</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="bi bi-cart4 btn btn-primary" data-bs-dismiss="modal">Agregar a carrito</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="row py-4">
      <div class="col-md-5">
        <h5 class="fw-bold text-white">Direccion :</h5>
        <iframe class="rounded-5 "
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9496031490867!2d-74.11541428507256!3d4.6030479437778204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99374c2740e7%3A0xd38cde7029f6386c!2sCra.%2038%20%239-25%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1655597605164!5m2!1ses-419!2sco"
          width="350" height="150" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <ul class="list-unstyled text-small">
          <li>
            <p class="fw-light text-white-50 bi bi-geo-alt"> Carrera 38 Nº 9 - 25, Bogota</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <h5 class="fw-bold text-white">Contactenos :</h5>
        <ul class="list-unstyled text-small">
          <li>
            <p class="fw-light text-white-50 bi bi-envelope"> merkado_tecno@gmail.com</p>
          </li>
          <li>
            <p class="fw-light text-white-50 bi bi-telephone"> 311 1234567</p>
          </li>
          <li><a class="fw-light text-white-50 bi bi-whatsapp" href="#"> Whatsapp</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="fw-bold text-white">Síganos en :</h5>
        <i class="text-white-50 bi bi-facebook p-2" style="font-size: 2em;"></i>
        <i class="text-white-50 bi bi-instagram p-2" style="font-size: 2em;"></i>
        <i class="text-white-50 bi bi-youtube p-2" style="font-size: 2em;"></i>
        <i class="text-white-50 bi bi-tiktok p-2" style="font-size: 2em;"></i>
      </div>
    </div>
    <div class="row">
      <div class="bg-light p-2">
        <div class="text-center fw-lighter" style="color:#E67E22;">
          Todos los derechos reservados. Copyright ©️ MerkadoTecno 2022
        </div>
      </div>
    </div>
  </footer>
  <script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget

      var recipient = button.getAttribute('data-bs-whatever')
      var title = button.getAttribute('data-bs-title')
      var value = button.getAttribute('data-bs-value')

      var modalImg = exampleModal.querySelector('.modal-body img')
      var modalTitle = exampleModal.querySelector('.modal-body h5')
      var modalValue = exampleModal.querySelector('.modal-body p')

      modalImg.src = recipient
      modalTitle.textContent = title
      modalValue.textContent = value
    })
  </script>
</body>

</html>